<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="tFactory">
    <input type="text" ng-model="in" placeholder="please input movice name">
    <button ng-click="ff()">click</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
<script>
    var app = angular.module("myApp",[]);
    app.controller("tFactory", function ($scope,httpFactor) {

        $scope.ff= function () {
            var movic = $scope.in;

            httpFactor.fetchData("http://angularjs.org/greet.php?name=premRatanDhanPayo&callback=JSON_CALLBACK").success(function(response)
            {
                console.log(response);
            });
            var wurl = 'http://api.openweathermap.org/data/2.5/weather?q=san%20jose,ca&appid=2de143494c0b295cca9337e1e96b00e0';

            httpFactor.getData(wurl).success(function(response)
            {
                console.log(response);
            });

        }
    });

    app.factory("httpFactor", function($http)
    {
        var myfact = {};
        myfact.fetchData = function(aurl,type){
            return $http.jsonp(aurl)
        };

        myfact.getData = function(aurl,type){
            return $http.get(aurl)
        };
        return myfact;
    });

</script>
</body>
</html>