<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Social App</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Weather</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Vedio</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Weather</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Vedio</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Maps</a></li>
                                </ul>
                            </li>
                        </ul>
                          </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container wSearchBox">
                <!--<div class="col-sm-6 col-sm-offset-5">-->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="...">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GO <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#">Address</a></li>
                                        <li><a href="#">Zip code</a></li>
                                        <li><a href="#">State</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                </div>
        </div>
        <div class="container">
            <p>this is first weathe app</p>
        </div>

        <div class="container">
            <p>this is news app</p>
        </div>

        <div class="contaier">
            <p>this is video app</p>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
=======
<!DOCTYPE html>
<html lang="en" ng-app="VideoAPP">
<head>
    <meta charset="UTF-8">
    <title>Find Local Video</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body ng-controller= "videoCtrl">
    <!--<div class="container videoapp" ng-controller= "videoCtrl">-->
        <nav class="navbar bg-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Social App</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Weather</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Vedio</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Weather</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Vedio</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Maps</a></li>
                                </ul>
                            </li>
                        </ul>
                          </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav><!--end nav-->

<header>
    <div class="container wSearchBox">
        <div class="row intro">
            <div class="col-md-8 col-md-pull-1">
                <h1 class="introtitle">Learn more local video from here</h1>
                <p class="intro-text">Discover your today new from local news</p>
            </div>
        </div>
                    <div class="row sbox">
                        <div class="col-sm-5 col-lg-5 col-md-pull-0">
                            <div class="input-group">
                                <input type="text" ng-model="city" class="form-control" aria-label="...">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GO <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#video" ng-click="cityvideo(city)" >Address</a></li>
                                        <li><a href="#video" ng-click="cityvideo(city)">Zip code</a></li>
                                        <li><a href="#video" ng-click="cityvideo(city)">State</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
                </div>
        </div>
</header>

        <section class="featured-destinations" style="background-color:#f5f6f6;">
            <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 card">
                                <img src="IMG/pic1.jpg" class="img-responsive">
                                <div class="card-details">
                                    <h4> Yellowstone. USA</h4>
                                    <p> <i class="fa fa-map-marker"></i> Wyoming <a href="https://www.nps.gov/yell/index.htm" target="_blank">National Park</a></p>
                                </div>
                        </div>

                        <div class="col-md-6 col-lg-3 card">
                            <img src="IMG/pic2.jpg" class="img-responsive">
                            <div class="card-details">
                                <h4> Golden Gate Bridge. USA</h4>
                                <p> <i class="fa fa-map-marker"></i> California <a href="https://www.nps.gov/goga/index.htm" target="_blank">Golden Gate</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 card">
                            <img src="IMG/northAmerica.jpg" class="img-responsive">
                            <div class="card-details">
                                <h4> Yosemite. USA</h4>
                                <p> <i class="fa fa-map-marker"></i> California <a href="https://www.nps.gov/yose/index.htm" target="_blank">Yosemite</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 card">
                            <img src="IMG/chichago.jpg" class="img-responsive">
                            <div class="card-details">
                                <h4> Chichago city. USA</h4>
                                <p> <i class="fa fa-map-marker"></i> Chichago <a href="http://www.cityofchicago.org/city/en.html" target="_blank">Chiachago</a></p>
                            </div>
                        </div>

                    </div>
            </div>

        </section>


    <section class="videocontent" id="video">
        <div class="vbg container-fluid">
            <h1 align="center">Latest video of {{city}}</h1>
            <div ng-repeat ="x in video_data" class="col-md-6 col-lg-3 card" >
                <img src={{x.thumbnail_url}} >
                <div >
                    <a href={{x.url}}>{{x.title}}</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <!-- COMPANY ADDRESS-->
            <div class="col-md-5 company-details">
                <div class="icon-top red-text">
                    <i class="fa fa-map-marker" aria-hidden="true" ></i>
                </div>
                <span> PO Box 16122 Collins Street West, Victoria 8007 Australia</span>
            </div>

            <!-- COMPANY EMAIL-->
            <div class="col-md-2 company-details">
                <div class="icon-top green-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <span>contact@designlab.co</span>
            </div>

            <!-- MY PHONE NUMBER -->
            <div class="col-md-2 company-details">
                <div class="icon-top blue-text">
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <span> +613 0000 0000</span>
            </div>

            <!-- SOCIAL ICON AND COPYRIGHT -->
            <div class="col-lg-3 col-sm-3  copyright">
                <ul class="social">
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                </ul>
                <span> ©2015 Lei Creative</span>
            </div>
        </div>
    </footer> <!-- / END FOOOTER  -->


    <script src="https://use.fontawesome.com/32e590166e.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
    <script src="JS/main.js"></script>
</body>
</html>