.wSearchBox{
    height: 569px;
}
.wSearchBox .row {

    margin: 100px auto;
}

header {
    background-color:#6c6e73;
    background-image: url(IMG/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: 700px;

}

.container-fluid a{
    color: white;
}

.intro h1{
    float: left;

    margin-top: 400px;
    text-shadow: 0 1px 1px; rgba(0,0,0,0.7);
    margin-bottom: 1rem;
    font-family: Cabin;
    font-size: 50px;


}

/*.wSearchBox .intro{*/
    /*margin-left: -130px;*/

/*}*/
/*.wSearchBox .sbox{*/
    /*margin-left: -55px;*/
/*}*/
.wSearchBox input,.wSearchBox button{

    border-color: #761c19;

}
.intro-text{
    color: rgba(255,255,255,0.7);
    text-shadow: 0 1px 1px rgba(0,0,0,0.7);
    font-size: 24px;
    margin-bottom: 26px;
    font-weight: 300;
    line-height: 1.4;
}

/*.indroduction{*/

    /*height: 500px ;*/
    /*background-color: #222222;*/
/*}*/
.days{

    width:130px;
    height:90px;
    float:left;
    color:white;

}
.app{
    /*background-image: url("img1.jpg");*/
    width:700px;
    height:300px;
    color:white;
    border-style:solid;
    border-width:5px;
    border-color:rgb(00,20,120);

}
.videoapp{
    /*background-image: url("img1.jpg");*/
    /*width:700px;*/
    /*height:500px;*/
    /*color:white;*/
    /*border-style:solid;*/
    /*border-width:5px;*/
    /*border-color:rgb(00,20,120);*/

}
.videocontent img{
    width:315px;
    height:236px;
}
#videodaily{

    width:200px;
    height:300px;
}

/*section 2 featured-destinations*/
.featured-destinations{
    padding-top: 0;
    padding-bottom: 0;
    background: #f5f6f6;
    background-size:cover;
    background-position: center;

}

/*.container{*/
    /*width: 751px;*/
    /*/!*padding-left: 20px;*!/*/
    /*/!*padding-right: 20px;*!/*/
/*}*/

/*.card{*/
    /*background: transparent;*/
    /*margin-bottom: 3rem;*/
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
    /*border-radius:2px;*/
/*}*/
/*.card img{*/
    /*height:210px;*/
    /*width: 210px;*/
/*}*/

.card-details{
    background-color:#fff;
}
.card{
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0.2);
}
.card-details h4{
    margin-top: 0;
    padding-top: 10px;

}
.card img{
    margin-top:50px;
    padding: 0;
}
.card p, .card a{
    color: #95979c;
}
.card p{
    padding-bottom: 10px;
}

/*video content*/
.videocontent .vbg{
    font-family:Helvetica;
    color: white;
    background: linear-gradient(to right, #36414E,#253241)


}

.vbg h1{
    margin-top: 50px;
    font-size: 50px;
}

/*footer*/
.company-details{
    color:#939393;
    padding-top: 67px;
    padding-bottom: 67px;
}
.red-text{
    color:#e96656;
}

/*footer*/
footer {
    background: #272727;
}
.company-details {
    color: #939393;
    padding-top: 67px;
    padding-bottom: 67px;
}
.company-details .icon-top {
    font-size: 30px;
    margin-bottom: 10px;
}
.copyright {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #171717;
    color: #939393;
}

.social li {
    display: inline-block;
    margin: 5px;
    margin-top: 18px;
}
.social li a {
    color: #939393;
    font-size: 18px;
}
.social li a:hover {
    color: #e96656;
}

[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    width: 100%;
}

.company-details i,.company-details span {
    text-align:center;

}

/** FOR TEXTS AND ICON FONTS **/
.red-text {
    color: #e96656;
}
.green-text {
    color: #34d293;
}
.blue-text {
    color: #3ab0e2;
}
.yellow-text {
    color: #f7d861;
}
.dark-text {
    color: #404040;
}
.white-text {
    color: #FFFFFF;
}