<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="Cars">
    <div>
        <h2>Search for Rental Cars</h2>
    </div>
    <div>
        Pick-up from
        <input type="text" placeholder="Airport,City,or Point of Interest">
        <p>Different drop-off location or one-way rental</p>
    </div>
    <div>
        <p>Drop-off to</p>
        <input type="text" placeholder="Airport,City,or Point of Interest">
    </div>

    <div>
        <div><b>Pick-up date</b><input type="date" placeholder="Choose Data"></div>
        <div><b>Pick-up time</b>
            <select>
                <option selected="Noon">Noon</option>
            </select>
        </div>
        <div><b>Drop-off date</b></div>
        <div><b>Drop-off time</b></div>
    </div>
    <div></div>

</div>
</body>
</html>