#box1 {height:680px;
	   width:480px;
	   background-color:rgb(228,228,228);}
#box2 {height:600px;
	   width:400px;
	   background-color:rgb(200,212,217);
	   position:absolute;
	   top:45px;
	   left:45px;}
#box3 {height:90px;
	   width:200px;
	   background:rgb(209,177,115);
	   position:absolute;
	   top:45px;
	   left:85px;}
#box4 {height:90px;
	   width:30px;
	   background:rgb(236,208,152);
	   position:absolute;
	   top:45px;
	   left:85px;}
#box5 {height:180px;
	   width:160px;
	   background:rgb(173,173,173);
	   position:absolute;
	   top:195px;
	   left:125px;}	   	
#box6 {height:90px;
	   width:200px;
	   background:rgb(77,176,69);
	   position:absolute;
	   bottom:330px;
	   left:85px;}
#box7 {height:90px;
	   width:30px;
	   background:rgb(162,232,157);
	   position:relative;
	   top:0px;
	   right:0px;}
#box8 {height:90px;
	   width:200px;
	   background:rgb(209,177,115);
	   position:absolute;
	   bottom:0px;
	   right:160px;}
#box9 {height:90px;
	   width:30px;
	   background:rgb(236,208,152);
	   }
#box10 {height:440px;
	   width:160px;
	   background:rgb(218,181,181);
	   position:absolute;
	   top:0px;
	   right:0px;}	   	  
#box11 {height:160px;
	   width:160px;
	   background:white;
	   position:absolute;
	   right:0px;
	   bottom:0px;}    	  