#wrapper {height:600px;
	      width:1050px;
	      background:black;
	      position:relative;}

#box1 {height:500px;
	   width:700px;
	   background:rgb(255,209,123);
	   position:absolute;
	   left:300px;
	   top:50px;}
#box2 {height:500px;
	   width:250px;
	   background:rgb(46,19,122);
	   position:absolute;
	   left:80px;
	   top:50px;}
li {text-transform:uppercase;
	list-style:none;
    font-size:70%;
 	text-align:left;}
.u {margin-top:40px}
.navbar a{text-decoration:none;
		  color:rgb(252,218,110);
		  position:relative;
		  top:-20px}
h1 {text-align:center;
	color:green;}
.d {font-size:70%}
#table1 {position:relative;
		 top:-10px;
		 left:80px;}
#table2 {position:absolute;
		 top:100px;
		 right:50px;}
.info {border:1px solid white;
	   width:50%;}	
.c1 {font-size:10px;
	 color:white;
	 position:relative;
	 top:550px;
	 right:10px;
	 margin-left:656px;
	 margin-top:0px;}
.c {margin-left:427px;
	font-size:10px;
	color:white;
	position:relative;
	top:550px;
	right:10px;}	   		
