#wrapper {height:550px;
	      width:80%;
	      background:#C2C2D6;}
#box1 {height:200px;
	   width:10%;
	   background:#1975FF;
	   position:relative;
	   top:50px;
	   left:10%;}
.box2 {height:80px;
	   width:20%;
	   background:#47D147;
	   position:relative;
	   top:-140px;
	   left:350px;}	   	 
.box3 {height:40px;
	   width:35%;
	   background:#FF7519;
	   position:relative;
	   top:-53%;
	   left:60%;}
.box4 {height:100px;
	   width:15%;
	   background:#D119D1;
	   border-radius:10px;
	   float:left;
	   margin-left:50px;
	   position:relative;
	   top:-210px;
	   left:0px;}   
.box5 {height:70px;
	   width:20%;
	   background:#FFFF33;
	   border:2px solid #FF0066;
	   float:left;
	   margin-left:20px;
	   position:relative;
	   top:-170px;
	   left:70px;}
	   	   		     