#wrapper {background:#C2C2D6;
		  height:900px;
		  width:1150px;}
#navbar {background:rgb(255,149,13);
		 height:52px;
		 width:910px;
		 position:relative;
		 top:-77px;
		 left:240px;}
.l {float:left;
	list-style:none;
	margin-left:20px;
	padding:15px;}
.l a{text-decoration:none;
	 color:rgb(80,80,81);
	 font-weight:bold;}
.IT {background:rgb(85,85,85);
	 font-weight:bold;
	 color:rgb(255,149,13);
	 border-radius:2px;
	 padding:8px;
	 position:relative;
	 top:6px;
	 left:60px;}
#login {position:relative;
		top:10px;
		left:90px;}
#content {background:url(../Images/joinmebackground.jpg);
		  width:1150px;
		  height:950px;
		  background-size:contain;
		  background-repeat:no-repeat;
		  position:relative;
		  top:-80px;}
#ad {height:550px;
	 width:950px;
	 background:rgba(0,0,0,0.6);
	 border-radius:30px;
	 position:relative;
	 top:70px;
	 left:8.7%;}		  	
.advertise {color:rgb(210,180,232);
			font-size:80px;
			font-weight:bold;
			text-align:center;
			letter-spacing:2px;
			line-height:5px;}	
.adcontent {text-align:center;
	     	font-size:30px;}
.box {background:white;
	  height:150px;
	  width:400px;
	  float:left;
	  margin-left:5px;
	  border-radius:5px;
	  position:relative;
	  top:20px;
	  left:70px;} 
#foot {height:150px;
	   width:950px;
	   position:relative;
	   top:-40%;
	   left:160px;}			
.footer {height:100px;
		 width:200px;
		 float:left;
		 margin-left:30px;
		 background:rgba(0,0,0,0.6);
		 border-radius:5px;
		 text-align:center;
		 padding:20px;
		 font-size:30px;
		 }		
.footer a {text-decoration:none;
		   color:white;
		   padding:20px;}	   		 