#wrapper {
  height: 1200px;
  width: 1045px;
  background: url(../Images/rentbg.gif);
  background-size: contain;
}

#tbar {
  margin-left: 70px;
}

.slogan {
  color: gray;
  font-size: 68%;
  position: relative;
  top: -15px;
  left: 130px;
}

#ibox1 {
  position: relative;
  top: -70px;
  left: 53%;
}

.c {
  height: 25px;
}

#searchbox {
  margin-left: 30px;
  height: 20px;
}

#slogo {
  height: 20px;
  position: relative;
  top: 7px;
  left: -25px;
}

#navbar nav {
  background: #f2f2f2;
  font-size: 81%;
  margin-top: -50px;
}

#navbar a {
  text-decoration: none;
}

#navbar li {
  list-style: none;
  float: left;
}

.navbox1, .navbox {
  background: #0077b4;
  padding: 10px;
  padding-left: 33px;
  padding-right: 33px;
  color: #cfe5f0;
  text-align: center;
}

.navbox {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #636363;
}

#stepbar nav {
  font-size: 80%;
  font-family: arial;
  font-weight: bold;
  margin-top: 50px;
}

#stepbar a {
  text-decoration: none;
}

#stepbar li {
  list-style: none;
  float: left;
}

.step1 {
  background: #cfe5f0;
  color: #47839f;
  padding: 9px;
  padding-left: 90px;
  padding-right: 90px;
}

.ps1 {
  height: 31px;
  position: relative;
  top: 10.5px;
  left: -5px;
}

.step2, .step3 {
  background: #0077b4;
  color: #cfe5f0;
  padding: 9px;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
  left: -6px;
  top: 0px;
}

.ps2 {
  height: 31px;
  position: relative;
  top: 10.5px;
  left: -10px;
}

.step3 {
  background: white;
  color: gray;
  position: relative;
  left: -5px;
  top: 20px;
}

#menu {
  height: 700px;
  width: 650px;
  position: relative;
  top: 50px;
  left: 40px;
}

.w, .g {
  height: 97px;
  background: white;
  text-align: center;
  font-family: arial;
}

.g {
  background: #f2f2f0;
}

.box {
  height: 92px;
  line-height: 0px;
  margin-left: -516px;
  float: left;
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 5px;
}

.boxcar1 {
  height: 92px;
  line-height: 0px;
  float: left;
  margin-left: -360px;
  margin-top: 5px;
}

.price {
  margin-top: 10px;
}

.unit {
  font-size: 68%;
}

.s {
  background: #0080c1;
  color: white;
  border: 0px;
  font-size: 80%;
}

.total {
  color: #716e75;
  font-size: 70%;
}

.carpic {
  height: 67px;
}

.adj {
  font-size: 60%;
}

.guys {
  font-size: 64%;
  font-weight: bold;
  text-align: left;
  margin-top: 6px;
}

.capacity {
  font-size: 62%;
  text-align: left;
  line-height: 13px;
  font-weight: bold;
}

.box2, .box3 {
  height: 92px;
  line-height: 0px;
  float: left;
  padding-top: 5px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -2px;
}

.capacity5 {
  font-size: 61%;
  text-align: left;
  line-height: 3px;
  font-weight: bold;
}

.box3 {
  padding-left: 25px;
  padding-right: 15px;
  margin-top: -2px;
}

#rentinfo {
  background: #e2f0f5;
  height: 265px;
  width: 265px;
  font-size: 70%;
  font-family: arial;
  position: relative;
  top: -99%;
  left: 100%;
  padding-left: 25px;
  text-align: justify;
}

#rentinfo h3 {
  padding-top: 20px;
}

#rentinfo a {
  position: relative;
  top: -235px;
  right: -65%;
  text-decoration: none;
}

#rentinfo img {
  width: 290px;
  margin-left: -25px;
  margin-top: -5px;
}

#FRO {
  font-size: 80px;
  font-family: fantasy;
  color: white;
  text-align: center;
  opacity: 0.8;
  margin-top: -130px;
}

#footer {
  background: #e1f0f5;
  height: 300px;
  width: 935px;
  position: relative;
  top: -38%;
  padding: 5px;
  border-bottom: 5px solid #007dbf;
}

#footer a {
  text-decoration: none;
}

#footer a:visited {
  color: #406b7c;
}

#signup {
  width: 180px;
}

.logo {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-right: 15px;
}

.bottom1 {
  margin-left: 20px;
}

.bottom1 p {
  float: left;
  color: #406b7c;
  font-size: 85%;
  font-family: arial;
  margin-top: 20px;
}

.divider1 {
  position: relative;
  top: -115px;
  left: 75px;
}

.bottom2 {
  float: left;
  position: relative;
  top: -110%;
  left: 35%;
  line-height: 6px;
  color: #406b7c;
}

.bottom2 p:first-child {
  font-weight: bold;
  margin-top: 30px;
}

.bottom2 img {
  position: relative;
  top: -178px;
  left: 195px;
}

.bottom3 {
  position: relative;
  top: -110%;
  left: 40%;
  line-height: 6px;
  color: #406b7c;
}

.bottom3 p:first-child {
  font-weight: bold;
  margin-top: 30px;
}

.bottom3 img {
  position: relative;
  top: -175px;
  left: 150px;
}

.bottom4 {
  position: relative;
  top: -235%;
  left: 77%;
  line-height: 6px;
  color: #406b7c;
}

#copyright {
  font-size: 80%;
  text-align: center;
  position: relative;
  top: -200%;
  left: 0px;
}
