<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../angular.js"></script>
    <script src="ImgeShowAndHide.js"></script>
</head>
<body>
<div ng-app="imgApp">
    <img src="../../../IMG/Logo.png" ng-init="foobar" ng-show="foobar">
    <button ng-click="foobar=true">show</button>
    <button ng-click="foobar=false">hide</button>

    <img src="../../../IMG/Logo.png" ng-init="foobar" ng-show="foobar">
    <input type="checkbox" ng-click="" " >

</div>
</body>
</html>
